@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;500;700&display=swap');

:root {
  --accentcolor: 121,218,200;
  --accentcolor2: 255,84,84;
  --linkcolor: 128,160,255;
  --mentioncolor: 227,199,138;
  --textbrightest: 255,255,255;
  --textbrighter: 222,222,222;
  --textbright: 185,185,185;
  --textdark: 140,140,140;
  --textdarker: 115,115,115;
  --textdarkest: 80,80,80;
  --font: Overpass;
  --backgroundaccent: 50,52,55;
  --backgroundprimary: 0,0,0;
  --backgroundsecondary: 0,0,0;
  --backgroundsecondaryalt: 0,0,0;
  --backgroundtertiary: 50,52,55;
  --backgroundfloating: 50,52,55;
  --settingsicons: 1;
}
